.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #0d1117, #161b22);
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  color: #fff;
}

.hero span {
  color: #58a6ff;
}

.hero p {
  font-size: 1.2rem;
  color: #c9d1d9;
}

.hero .btn {
  margin-top: 20px;
  display: inline-block;
}
