.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #161b22;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: bold;
  color: #58a6ff;
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a:hover {
  color: #58a6ff;
}
